.background-red {
    background-color: rgb(235, 67, 61);
}

.background-green {
    background-color: rgb(76, 235, 61);
}

.background-blue {
    background-color: rgb(61, 171, 235);
}

.background-pink {
    background-color: rgb(235, 61, 177);
}